.env
/function/__pycache__
/function/logs
/function/logs/*
/function/logs/*/*
/function/logs/*/*/*
/function/logs/*/*/*/*
/function/logs/*/*/*/*/*
/function/logs/*/*/*/*/*/*
/function/logs/*/*/*/*/*/*/*
/performance_vis/data_api/__pycache__
/performance_vis/data_api/logs
/performance_vis/data_api/logs/*
/performance_vis/data_api/logs/*/*
/performance_vis/data_api/logs/*/*/*
/performance_vis/data_api/logs/*/*/*/*
/performance_vis/data_api/logs/*/*/*/*/*
/performance_vis/data_api/logs/*/*/*/*/*/*
/performance_vis/data_api/logs/*/*/*/*/*/*/*
/performance_vis/data_api/logs/*/*/*/*/*/*/*/*
/performance_vis/node_modules
/performance_vis/dist
/performance_vis/dist-ssr
/performance_vis/*.local
/performance_vis/.vscode
/performance_vis/.idea
/performance_vis/.DS_Store
/performance_vis/*.suo
/performance_vis/*.ntvs
/performance_vis/*.njsproj
/performance_vis/*.sln
/performance_vis/*.sw?